In [1]:
import os
import pandas as pd
from transform import *

fname = "gps_data_jaesung.csv"

cwd_dir = os.getcwd()

data_dir = os.path.join(cwd_dir, "data", fname)

df = pd.read_csv(data_dir)

transform = Transform()

In [2]:
df.head()

,Date,TimeStamp,FrameCount,Latitude,Longitude,XCoord,ZCoord,MyX,MyZ
0,11/11/2020 05:46:41,4.799998,48,37.55457,-127.0444,51.28415,18.24561,51.28415,18.24561
1,11/11/2020 05:46:42,5.599997,56,37.55458,-127.0444,52.55381,18.23945,52.55381,18.23945
2,11/11/2020 05:46:45,8.299995,83,37.55461,-127.0444,55.09313,18.22715,55.09313,18.22715
3,11/11/2020 05:46:46,9.299999,93,37.55462,-127.0444,55.93957,18.22304,55.93957,18.22304
4,11/11/2020 05:46:47,10.300000,103,37.55462,-127.0444,56.78274,17.54506,56.78274,17.54506

In [3]:
data_len = len(df)

print(data_len)

41

In [4]:
lat_np = df["Latitude"].values

In [5]:
lat_np[0]

37.55457

In [6]:
result = pd.DataFrame(columns=["latitude", "longitude", "altitude"])

latitude = []
longitude = []
altitude = []

lat_np = np.abs(df["Latitude"].values)
lon_np = np.abs(df["Longitude"].values)

for i in range(data_len):
    coord_np = transform.exec(lat_np[i], lon_np[i], 0)
    latitude.append(coord_np[0])
    longitude.append(coord_np[1])
    altitude.append(coord_np[2])

result["latitude"] = latitude
result["longitude"] = longitude
result["altitude"] = altitude

result_dir = os.path.join(cwd_dir, "result", fname)

result.to_csv(result_dir)

In [7]:
result.head()

   latitude  longitude   altitude
0  5.959046  20.308154  55.402019
1  5.967730  20.377831  55.403432
2  5.993782  20.586861  55.407672
3  6.002465  20.656538  55.409085
4  6.002465  20.656538  55.409085